SUPABASE_URL=https://kllxfhtuihrcbglsowda.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtsbHhmaHR1aWhyY2JnbHNvd2RhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyNDc0ODMsImV4cCI6MjA5NDgyMzQ4M30.JyBv6L_me4P0FxapkjOVKv_FgL-BxKFqlajNQrBmqhw
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtsbHhmaHR1aWhyY2JnbHNvd2RhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTI0NzQ4MywiZXhwIjoyMDk0ODIzNDgzfQ.WUlRkFFnHtJpXAoXr2SwRFNWEkvaa1wJrTVRNWqm9fc
PORT=3000
NODE_ENV=development
